/* <!-- MEDIA QUERY START --> */

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  header {
    padding: 0 1rem;
  }
  .header-container {
    padding: 0;
  }

  .menu {
    display: block;
    font-size: 1.5625rem;
    line-height: 1.2;
    border: 1px solid white;
    background: white;
    padding: 2px 10px;
  }
  .logo {
    width: 28%;
  }

  .show {
    display: block;
  }

  nav {
    width: 100%;
    height: 320px;
    overflow: scroll;
  }

  nav,
  .show + a,
  .dropdown-list {
    display: none;
  }

  [id^="btn"]:checked + nav,
  [id^="btn"]:checked + .dropdown-list {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .main-list,
  .nav-wrapper {
    flex-direction: column;
  }
  .nav-wrapper {
    background: #181a23;
    padding-bottom: 8px;
  }

  .direct-contact {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .main-list,
  .dropdown {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .main-list li {
    padding: 8px 0px;
  }

  .dropdown-list {
    width: 100%;
    position: static;
    transform: none;
    transition: none;
    text-align: center;
  }

  /* WIDTH 100%  */

  .banner-content,
  .features-inner,
  .about-inner,
  .offer-content,
  .service-brief-content,
  .services-inner,
  .courses-button-content,
  .about-detail-image,
  .about-detail-content,
  .choose-us-inner,
  .blog-list,
  .contact-brief-content,
  .form-wrapper,
  .form-name,
  .form-email,
  .overlay-card-inner,
  .courses-brief-content,
  .courses-list,
  .courses-list-no-bg,
  .gallery-brief-content,
  .gallery-inner,
  .testimonial-brief-content,
  .testimonial-list-content,
  .trainer-inner,
  .trainer-profile,
  .trainer-intro,
  .package-inner,
  .package-brief-content,
  .our-services-brief-content,
  .our-services-inner,
  .our-services-profile,
  .our-services-intro,
  .gymfit,
  .recent-posts,
  .quick-links,
  .home-location,
  .copyright-text,
  .social-connect {
    width: 100%;
  }

  /* <!-- BANNER START --> */

  .banner-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  /* <!-- BANNER END --> */

  /* <!-- ABOUT START --> */

  .image,
  .about-text {
    padding: 0;
  }

  .about-text {
    margin-top: 2.5rem;
    padding-left: 15px;
  }

  /* <!-- ABOUT END --> */

  /* <!-- OFFER START --> */

  .offer-content h2,
  .offer-content h2 span {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }

  /* <!-- OFFER END --> */

  /* <!-- SERVICES START --> */

  .services-inner-content i {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }

  /* <!-- SERVICES END --> */

  /* <!-- TESTIMONIAL END --> */
  .testimonial-list-content i {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  /* <!-- TESTIMONIAL END --> */
  /* <!-- INDEX COURSE START --> */
  .courses-list {
    margin-bottom: 3rem;
  }
  /* <!-- INDEX COURSE END --> */

  /* <!-- COMMON BANNER START --> */
  .common-banner-content h1 {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  /* <!-- COMMON BANNER END --> */

  /* <!-- ABOUT DETAILS START --> */

  .extra-top {
    margin-top: 0;
  }

  .res-margin-top {
    margin-top: 3rem;
  }

  .est {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  /* <!-- ABOUT DETAILS END --> */

  /* <!-- WHY CHOOSE US START --> */

  .choose-us-icons i {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  /* <!-- WHY CHOOSE US END --> */

  /* TRAINER */

  .trainer-intro {
    padding: 1.5rem;
  }

  /* COURSES START */
  .courses-button-content {
    margin-top: 3rem;
  }

  /* COURSES END */

  /* PRICING START */
  .package-inner {
    margin-bottom: 1.5rem;
  }

  .package-inner h3 {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  /* PRICING END */

  /* OUR SERVICES START */

  .our-services-intro {
    margin-top: 1.25rem;
  }

  .our-services-intro {
    padding-right: 0;
  }
  /* OUR SERVICES END */

  /* CONTACT  START*/
  .overlay-card-inner {
    margin-bottom: 1.5rem;
  }

  .overlay-card-icon {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }

  .overlay-card-text p,
  .overlay-card-text span {
    font-size: 1rem;
  }
  /* CONTACT END */

  /* <!-- FOOTER START --> */
  .gymfit,
  .recent-posts,
  .quick-links,
  .home-location,
  .copyright-text,
  .social-connect {
    width: 100%;
  }

  .gymfit,
  .recent-posts,
  .quick-links {
    margin-bottom: 3rem;
  }
  /* <!-- FOOTER END --> */
}

/* <!-- MEDIA QUERY END --> */

@media screen and (min-width: 480px) and (max-width: 792px) and (orientation: landscape) {
  .container {
    max-width: 720px;
  }

  /* HEADER START */

  header {
    padding: 0;
  }

  .menu {
    display: block;
    font-size: 1.5625rem;
    line-height: 1.2;
    border: 1px solid white;
    background: white;
    padding: 2px 10px;
  }
  .logo {
    width: 28%;
  }

  .show {
    display: block;
  }

  nav {
    width: 100%;
    height: 200px;
    overflow: scroll;
  }

  nav,
  .show + a,
  .dropdown-list {
    display: none;
  }

  [id^="btn"]:checked + nav,
  [id^="btn"]:checked + .dropdown-list {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .main-list,
  .nav-wrapper {
    flex-direction: column;
  }
  .nav-wrapper {
    background: #181a23;
    padding-bottom: 8px;
  }

  .direct-contact {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .main-list,
  .dropdown {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .main-list li {
    padding: 8px 0px;
  }

  .dropdown-list {
    width: 100%;
    position: static;
    transform: none;
    transition: none;
    text-align: center;
  }

  /* HEADER END */

  /* FOOTER START */

  .recent-posts,
  .gymfit {
    width: 50%;
    margin-bottom: 3rem;
  }

  .home-location,
  .quick-links {
    width: 41.667%;
    margin-bottom: 3rem;
  }

  .copyright-text,
  .social-connect {
    width: 100%;
  }

  /* FOOTER END */

  /* COMMON TILTE START */

  .title,
  .title-common {
    width: 100%;
  }

  /* COMMON TITLE END */

  /* INDEX.HTML FEATURES START */

  .features-inner {
    width: 47.85%;
  }

  /* INDEX.HTML FEATURES END */

  /* INDEX.HTML ABOUT START */
  .about-inner {
    width: 100%;
  }

  .about-text {
    padding-left: 1.5rem;
    margin-top: 2.5rem;
  }

  /* INDEX.HTML ABOUT END */

  /* INDEX.HTML OFFER START */

  .offer-content {
    width: 100%;
  }

  /* INDEX.HTML OFFER END */

  /* INDEX.HTML SERVICE START */

  .services-inner.inner {
    width: 50%;
  }

  .services-inner-content i {
    font-size: 56px;
    line-height: 66px;
  }
  /* INDEX.HTML SERVICE END */

  /* INDEX.HTML GALLERY START */

  .gallery-inner {
    width: 50%;
  }
  /* INDEX.HTML GALLERY END */

  /* INDEX.HTML COURSES START */

  .courses-list {
    width: 47.85%;
    margin-bottom: 3rem;
  }

  /* INDEX.HTML COURSES END */

  /* ABOUT.HTML START */

  .about-detail-content {
    width: 100%;
  }

  .extra-top {
    margin-top: 0;
  }

  .about-detail-brief {
    margin-top: 3rem;
  }

  .choose-us-inner {
    width: 47.85%;
  }

  /* ABOUT.HTML END */

  /* TRAINER.HTML */
  .trainer-inner {
    width: 100%;
  }

  /* TRAINER.HTML END */

  /* COURSE.HTML START */

  .courses-list-no-bg.wrapper-hover {
    width: 47.8%;
  }

  /* COURSE.HTML END */

  /* SERVICE.HTML START */

  .our-services-inner {
    width: 47.8%;
  }

  .our-services-profile,
  .our-services-intro {
    width: 100%;
  }

  .our-services-intro {
    padding-right: 0;
    margin-top: 20px;
  }

  /* SERVICE.HTML END */

  /* PRICING.HTML START */

  .package-plans {
    justify-content: center;
  }
  .package-inner {
    width: 47.8%;
    margin-bottom: 1.5rem;
  }
  .package-inner:first-child {
    margin-right: 1.85rem;
  }

  /* PRICING.HTML END */

  /* BLOG.HTML START */
  .blog-list {
    width: 47.8%;
  }
  /* BLOG.HTML END */

  /* CONTACT.HTML START */
  .overlay-card-inner {
    width: 47.8%;
    margin-bottom: 1.5rem;
  }
  /* CONTACT.HTML END */
}
