/* <!-- OUR SERVICES START --> */

.our-services-list,
.our-services-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.our-services-inner {
  width: 49%;
  margin-bottom: 1.5rem;
}

.our-services-profile,
.our-services-intro {
  width: 48.5%;
}

.our-services-intro {
  padding-right: 2rem;
}

.our-services-intro span {
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.our-services-intro h4 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #232323;
  margin-bottom: 1rem;
}

.our-services-intro p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  /* margin-bottom: 1rem; */
}
